.personal-info {
    width: 50%;
    justify-self: center;
}

.personal-info h1, h3 {
    justify-self: left;
}

.info-section {
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
    border-bottom: 1px solid rgba(128, 128, 128, 0.22);
}

.info-section p {
    color: rgb(72, 72, 72);
    justify-self: left;
}

.info-section button {
    background: none;
    border: none;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.left-aligned {
    justify-items: left;
}

.text-fields {
    display: flex;
}

button.save-btn {
    font-size: 1rem;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 8px;
    margin: 20px 0 25px 0;
}